h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.grid-item {
  width: 300px;
  height: 470px;
  border: 2px solid rgba(51, 51, 51, 0); /* Cambia el valor de opacidad aquí */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left; /* Alineación del texto a la izquierda */
  border-radius: 20px;
  background-color: #3d3b3b28;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 20px; /* Agrega un poco de margen a los lados */
}
.contenido {
  text-align: left; /* Alineación del texto a la izquierda */
}


.grid-item .icon {
  margin-bottom: 10px;
  align-self: center; /* Alinea el icono al centro vertical y horizontal del div */
}

.grid-item > div {
  text-align: left; /* Alineación del texto a la izquierda */
  margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
}



